doctype html
head
  title Copilot
  meta(name="viewport", content="width=device-width, initial-scale=1.0, minimal-ui, user-scalable=no")
  meta(name="apple-mobile-web-app-capable" content="yes")
  link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href='css/reset.css')
  link(rel="stylesheet", href='css/main.css')
  script(src='js/bundle.js')
body
